BQ_NEWS_TABLE=project-ID.your-dataset.raw_news
BQ_RESULTS_TABLE=project-ID.your-dataset.analysis_results
BATCH_SIZE=40
GOOGLE_CLOUD_PROJECT=project-ID
REGION=europe-west1
BQ_ERRORS_TABLE=your-dataset.analysis_errors